<h2>Inbox</h2>
<div class="boxed">
  
  <div class="messages">
    <div class="list1"><p class="account-link"><mat-icon>account_circle</mat-icon> User 1</p></div>
    <div class="list"><p class="account-link"><mat-icon>account_circle</mat-icon> User 2</p></div>
    <div class="list"><p class="account-link"><mat-icon>account_circle</mat-icon> User 3</p></div>
    <div class="list"><p class="account-link"><mat-icon>account_circle</mat-icon> User 4</p></div>
  </div>

  <div class="display">
    <h3>user 1</h3>
    <div class="move">
      <div class="container">
          <mat-icon class="accoun">account_circle</mat-icon>
          <p>Hello. I really thought your review on Interstellar was great!</p>
          <span class="time-right">11:00</span>
        </div>
        
        <div class="container darker">
            <mat-icon class="right">account_circle</mat-icon>
          <p>Hey! Thanks for for the complement! Want to be friends?</p>
          <span class="time-left">11:01</span>
        </div>
        
        <div class="container">
            <mat-icon class="account-link">account_circle</mat-icon>
          <p>No problem. I would love to be friends!</p>
          <span class="time-right">11:02</span>
        </div>
        
        <div class="container darker">
            <mat-icon class="right">account_circle</mat-icon>
          <p>Yay! Friends!!!</p>
          <span class="time-left">11:05</span>
        </div>
      </div>
    <div class="input">
    <input placeholder="type message..." >
    <button >Send</button>
    </div>
  </div>
  
</div>