<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container profile">
  <form >
  <div class="boxed">
  First name:
  <div class="col-md-4">
    <div class="profile-img">
      <img src="https://icon2.kisspng.com/20180401/huw/kisspng-user-profile-computer-icons-clip-art-profile-5ac092f6be0823.5326777215225699747784.jpg" alt=""/>
      <div class="file btn btn-lg btn-primary">
          Change Photo
          <input type="file" name="file"/>
      </div>
      </div>
  </div>
  <input type="text" name="firstname" value="firstname"><br><br>
  Last name: 
  <input type="text" name="lastname" value="lastname"><br><br>
  <div>
    Privacy:
      <select>
          <option value="public">Public</option>
          <option value="private">Private</option>
          <option value="custom">Custom</option>
        </select>
  </div><br>
  About me: <br>
  <textarea rows="4" cols="50">aboutme</textarea><br><br>
  Hometown: 
  <input type="text" name="hometown" value="hometown"><br><br>
  Favorite movie:
  <input type="text" name="favoritemovie" value="favoritemovie"><br><br>
  Social media:
  <input type="text" name="socialmedia" value="socialmedia"><br><br>
  </div>
  
  <input type="submit" value="Save">
</form>
</div>