<div class="app">
  <header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      
          <h1><a routerLink="/home">MovieDB</a></h1>
          <span class="toolbar-spacer"></span>

          <ul class="header-bar">
            <li></li>
            <li><a routerLink="/movies">Movies</a></li>
            <li><a routerLink="/ratings">Ratings</a></li> 
            <li>
                <form class="search-form">
                    <mat-form-field>
                      <input name="movie" ngModel required #movie="ngModel" type="search" matInput placeholder="Search movies or users...">
                      <mat-icon matSuffix routerLink="/movieDetails" [queryParams]="{name: movie.value}">search</mat-icon>
                    </mat-form-field>
                  </form>
            </li>
            <li><a routerLink="/userSignIn"><mat-icon class="account-link">account_circle</mat-icon> My Account</a></li>
             <li><a routerLink="/inbox"><mat-icon >email</mat-icon>Inbox</a></li> 
          </ul>
           
    </mat-toolbar-row>
  </mat-toolbar>
</header>

  <div class="app-body">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <p>MovieDB by Team3:</p>
    <p>Angela Vu, Benjamin Vinicky, James Porter, Michael Warren</p>
  </footer>

</div>
