@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    font-family: Arial, Helvetica, sans-serif;
}
.box {
    background-color: black;
    color: white;
    opacity: 0.75;
}
.boxed {
    border-style: solid;
    padding: 15px;
    margin-bottom: 15px;
    /* The image used */
    background-image: url("https://cdn.hipwallpaper.com/i/7/98/PEGYH7.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.checked {
    color: #FFD700;
}
p {
    color: white;
}
.fa {
    font-size: 25px;
    padding-left: 10px;
}
h2 {
    color: rgb(212, 212, 212);
}
p span .pad{
    padding-left: 15px;
}
.right {
    background-color: black;
    color: white;
    height: 100%;
    opacity: 0.75;
    width: 60%;
    float: right;
}
.left {
    float: left;
}

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/



.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.review {
    background-color: black;
    border-style: solid;
    opacity: 0.75;
}