<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="boxed">
    <div *ngFor="let a of allRatings; let i=index">
        <div *ngIf="i<1">
  <h2>{{a.title}}</h2>
  <div class="movie">
    <div>
      <img src="{{a.background}}" alt="" style="width:325px;height:400px;" />
      <div class="right">
        <p>Genre: {{a.genre}}</p>
      <p>Year Released: {{a.release}}</p>
      <p>Rating: {{a.rating/2}}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span></p>
        <p>homepage: <a href="{{a.link}}" >click here</a></p>
      </div>
      <div>

      </div>
    </div>
    <div class="box">
      <h3>Movie description:</h3>
      <p>{{a.description}}</p>
    </div>
  </div>
  </div>
  </div>
  

  <div>
    <div class="rating">
      <h2>Review</h2>
        <div id="review">
          
        <p><span><div class="left"> Title: Good Movie</div>
          <div class="left">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
          </div> </span></p><br/>
          <br/>
          <p class="account-link"><mat-icon>account_circle</mat-icon> User</p>
          <div class="review">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
               non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
    </div>
  </div>

</div>