<div class="container-fluid">

  <section class="section-mb">
      <h2>In Theatres Now</h2>
      <mat-divider></mat-divider>
      <div class="row justify-content-center">
        <div class="movieItem" *ngFor="let a of inTheatresList; let i=index">
          <div *ngIf="i<5">
            <div class="col-sm-2">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{a.background}}" alt="{{a.title}}">
                <div class="card-body">
                  <h3><a href="{{a.link}}">{{a.title}}</a></h3>
                  <p class="card-text">Rating: {{a.rating}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  <section class="section-mb">
    <h2>Top 2018 Movies</h2>
    <mat-divider></mat-divider>
      <app-movie-scroller [movielist]="topMovielist"></app-movie-scroller>
  </section>


  <section class="section-mb">
    <h2>Worst 2018 Movies</h2>
    <mat-divider></mat-divider>
    <div class="row justify-content-center">
      <div class="movieItem" *ngFor="let a of worstMovieList; let i=index">
        <div *ngIf="i<5">
          <div class="col-sm-2">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{a.background}}" alt="{{a.title}}">
              <div class="card-body">
                  <h3><a href="{{a.link}}">{{a.title}}</a></h3>
                <p class="card-text">Rating: {{a.rating}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-mb">
    <h2>Comedy Movies By Popularity</h2>
    <mat-divider></mat-divider>
    <div class="row justify-content-center">
      <div class="movieItem" *ngFor="let a of comedyMovieList; let i=index">
        <div *ngIf="i<5">
          <div class="col-sm-2">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{a.background}}" alt="{{a.title}}">
              <div class="card-body">
                  <h3><a href="{{a.link}}">{{a.title}}</a></h3>
                <p class="card-text">Rating: {{a.rating}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

<!-- <app-movie-scroller [movielist]="worstMovielist"></app-movie-scroller> -->
<!-- <app-movie-scroller [movielist]="inTheatreslist"></app-movie-scroller> -->
