<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="boxed" >
  <h2>{{allRatings[0].title}}</h2>
  <div class="movie">
    <div>
      <img src="{{allRatings[0].background}}" alt="" style="width:325px;height:400px;" />
      <div class="right">
        <p>Genre: {{allRatings[0].genre}}</p>
      <p>Year Released: {{allRatings[0].release}}</p>
      <p>Rating: {{allRatings[0].rating/2}}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span></p>
        <p>homepage: <a href="{{allRatings[0].link}}" >click here</a></p>
      </div>
      <div>

      </div>
    </div>
    <div class="box">
      <h3>Movie description:</h3>
      <p>{{allRatings[0].description}}</p>
    </div>
  </div>

  <div class="review">
    <div class="rating">
      <h2>Review</h2>
        <form id="review">
          
        <p><span><div class="left"> Title: <input type="text" name="title"></div>
          <div class="left">
          <fieldset class="rating">
            <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
            <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset></div> </span></p><br/>
          <br/><textarea rows="4" cols="50" name="review" form="review"></textarea> <br />
          <input type="submit">
        </form>
    </div>
  </div>
</div>