<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container profile">
    <form class="boxed" method="post">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-img">
                    <img src="https://icon2.kisspng.com/20180401/huw/kisspng-user-profile-computer-icons-clip-art-profile-5ac092f6be0823.5326777215225699747784.jpg"
                        alt="" />
                    <div>
                        <input class="follow-btn" (click)="openMessage()" type="button" value="message">
                    </div>
                </div>

            </div>

            <div class="col-md-2">
                <div class="profile-head">
                    <strong>
                        FirstName LastName
                    </strong>
                    <p>

                        <strong>From:</strong> Seattle, Wa <br />

                        <strong>Favorite Movie:</strong> Interstellar <br />

                        <strong>Socials:</strong> <br />

                    </p>
                    <h6> twitter</h6>
                    <p class="proile-followers"><span>22 followers</span></p>
                    <input type="submit" class="follow-btn" name="follow" value="follow" />
                </div>
            </div>
            <div class="col-md-7">
                <strong>About me:</strong>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce wisi.
                    Donec vitae arcu. Donec quis nibh at felis congue commodo. Cras pede libero,
                    dapibus nec, pretium sit amet, tempor quis. Maecenas libero. Duis sapien nunc,
                    commodo et, interdum suscipit, sollicitudin et, dolor. Nullam feugiat,
                    turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum
                    odio risus sit amet ante. Nunc dapibus tortor vel mi dapibus sollicitudin.
                    Aliquam id dolor. Duis condimentum augue id magna semper rutrum.</p>
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" routerLink="/editProfile" />

            </div>

        </div>
    </form>

    <div class="row">
        <div class="column"><strong>Latest Activity</strong></div>
        <div class="column"><strong>FirstName's favorite movie</strong></div>
        <div class="column">
            <div class="card" routerLink="/review" [queryParams]="{name: 'Interstellar'}">FirstName wrote a review</div>
        </div>
        <div class="column">
            <div class="card" routerLink="/movieDetails" [queryParams]="{name: 'Interstellar'}">Interstellar</div>
        </div>
        <div class="column">
            <div class="card">FirstName followed FirstName</div>
        </div>
        <div class="column">
            <div class="card" routerLink="/movieDetails" [queryParams]="{name: 'Central Intelligence'}">Central
                Intelligence</div>
        </div>
        <div class="column">
            <div class="card">FirstName favorited MovieName</div>
        </div>
        <div class="column">
            <div class="card" routerLink="/movieDetails" [queryParams]="{name: 'Lion King'}">Lion King</div>
        </div>
        <div class="column">
            <div class="card" routerLink="/review" [queryParams]="{name: 'I am Legend'}">FirstName wrote a review</div>
        </div>
        <div class="column">
            <div class="card" routerLink="/movieDetails" [queryParams]="{name: 'I am Legend'}">I Am Legend</div>
        </div>
        <input class="column2" name="load" value="load more" />
    </div>
</div>
<div class="message-popup" id="myMessage">
    <div class="close">
        <p (click)="closeMessage()">x</p>
    </div>
    <form action="http://localhost:4200/user" class="message-container">
        <h1>New Message</h1>

        <label for="title"><b>Title:</b></label>
        <input type="text" placeholder="Enter Title" name="title" required>

        <label for="message"><b>Message</b></label>
        <!-- <input type="text" placeholder="Type Message..." name="message" required> -->
        <textarea placeholder="Type Message..." rows="10" cols="50"></textarea>

        <button type="submit" class="btn" (click)="closeMessage()">Send</button>
        <button type="submit" class="btn cancel" (click)="closeMessage()">Cancel</button>
    </form>
</div>