<div class="home-component">

    <section>
        <h2>Top Movies of 2018</h2>
        <app-movie-scroller [movielist]="topMovielist"></app-movie-scroller>
    </section>

    <section>
        <h2>Search Movies</h2>

        <form class="movie-search">
            <mat-form-field class="movie-field">
                <input matInput placeholder="Movie Title" value="">
            </mat-form-field>
            
            <mat-form-field class="movie-field">
                <input matInput placeholder="Movie Year" value="">
                </mat-form-field>
        </form>

        <button mat-flat-button color="primary">Search</button>
    </section>

    <section>
        <h2>Latest Reviews</h2>
        <div class="reviews">
                <mat-card class="review-card">
                    <div style="position:relative"></div>
                       <!-- img mat card -->
                        <mat-card-header>
                            <mat-card-title>Greatest Movie Ever</mat-card-title>
                            <mat-card-subtitle>Interstellar</mat-card-subtitle>
                        </mat-card-header>
                        
                        <mat-card-content>
                            <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent maximus sapien vel dolor tincidunt, vel interdum libero dignissim. Duis aliquet quam vel tincidunt suscipit. In ante elit, vestibulum a euismod eget, lacinia et enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas sit amet libero dictum, varius tellus vulputate, pellentesque erat.
                            </p>
                        </mat-card-content>
                    </mat-card>
                <mat-card class="review-card">
                    <mat-card-header>
                        <mat-card-title>Greatest Movie Ever</mat-card-title>
                        <mat-card-subtitle>Interstellar</mat-card-subtitle>
                    </mat-card-header>
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                    <mat-card-content>
                        <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent maximus sapien vel dolor tincidunt, vel interdum libero dignissim. Duis aliquet quam vel tincidunt suscipit. In ante elit, vestibulum a euismod eget, lacinia et enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas sit amet libero dictum, varius tellus vulputate, pellentesque erat.
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="review-card">
                    <mat-card-header>
                        <mat-card-title>Greatest Movie Ever</mat-card-title>
                        <mat-card-subtitle>Interstellar</mat-card-subtitle>
                    </mat-card-header>
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                    <mat-card-content>
                        <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent maximus sapien vel dolor tincidunt, vel interdum libero dignissim. Duis aliquet quam vel tincidunt suscipit. In ante elit, vestibulum a euismod eget, lacinia et enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas sit amet libero dictum, varius tellus vulputate, pellentesque erat.
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="review-card">
                    <mat-card-header>
                        <mat-card-title>Greatest Movie Ever</mat-card-title>
                        <mat-card-subtitle>Interstellar</mat-card-subtitle>
                    </mat-card-header>
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                    <mat-card-content>
                        <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent maximus sapien vel dolor tincidunt, vel interdum libero dignissim. Duis aliquet quam vel tincidunt suscipit. In ante elit, vestibulum a euismod eget, lacinia et enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas sit amet libero dictum, varius tellus vulputate, pellentesque erat.
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="review-card">
                    <mat-card-header>
                        <mat-card-title>Greatest Movie Ever</mat-card-title>
                        <mat-card-subtitle>Interstellar</mat-card-subtitle>
                    </mat-card-header>
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                    <mat-card-content>
                        <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent maximus sapien vel dolor tincidunt, vel interdum libero dignissim. Duis aliquet quam vel tincidunt suscipit. In ante elit, vestibulum a euismod eget, lacinia et enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas sit amet libero dictum, varius tellus vulputate, pellentesque erat.
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="review-card">
                    <mat-card-header>
                        <mat-card-title>Greatest Movie Ever</mat-card-title>
                        <mat-card-subtitle>Interstellar</mat-card-subtitle>
                    </mat-card-header>
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                    <mat-card-content>
                        <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent maximus sapien vel dolor tincidunt, vel interdum libero dignissim. Duis aliquet quam vel tincidunt suscipit. In ante elit, vestibulum a euismod eget, lacinia et enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas sit amet libero dictum, varius tellus vulputate, pellentesque erat.
                        </p>
                    </mat-card-content>
                </mat-card>
        </div>
        
    </section>
</div>
