.home-component {
    background-color: white;
    color: #14234D;
}

.movie-tile {
    color: white;
    /* min-height: 280px; */
    background-color: #14234D;
}

.movie-search .movie-field {
    margin-right: 1em;
}

.movie-search button {
    float: left;
}


.reviews {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
  
.review-card {
    padding: 1em;
    width: 200px;
  }